/* ----------------------------- General -------------------------------------- */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}

/* ------------------- Shift content down under Navbar ----------------------- */

.content-area {
  margin-top: 190px;
}

/* ----------------------------- Navbar -------------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 0px;
  cursor: pointer;
}

.App-header {
  background-color: #2e8b57;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.toolbar-header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}

.signup-in-btn {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 2.5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
}

.signup-in-btn:hover {
  background-color: gainsboro;
  transform: translateY(-2px);
}

.App-link {
  color: #61dafb;
}

/* ---------------------------------- signin/up & welcome card/containers --------------------------------- */

.welcome-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcome-paragraph {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 5px;
}

.welcome-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100vh;
  height: 600px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  background-image: url("https://images.unsplash.com/photo-1464093515883-ec948246accb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1341&q=80");
  object-fit: cover;
}

.signup-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.signup-card {
  margin-left: 100px;
  margin-top: 20px;
  background-color: white;
  color: grey;
  width: 30vh;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icons {
  margin-left: 5px;
}

/* -------------------------------- Material UI customisation ---------------------------- */

.MuiAppBar-colorPrimary {
  color: #4da635 !important;
  background-color: #f9f9f9 !important;
  position: fixed !important;
}

.MuiButton-containedPrimary {
  background-color: black !important;
}

.MuiButton-label {
  color: #4da635 !important;
  text-decoration: none !important;
}

.MuiButton-root {
  background-color: white !important;
  color: #4da635 !important;
}

.toolbar-header img {
  margin-left: 0px !important;
}

.MuiGridListTile-tile:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.MuiGridListTile-tile:hover {
  opacity: 0.8;
  transition: 0.2s;
}

a:-webkit-any-link {
  color: #4da635 !important;
  text-decoration: none !important;
  font-weight: bold;
}

.MuiMenuItem-gutters {
  background-color: white !important;
}

.MuiMenu-list {
  background-color: white !important;
  color: #4da635 !important;
}

.makeStyles-root-1 {
  width: 270px !important;
}

.MuiGridListTileBar-title {
  font-size: calc(0.9rem + 1vw) !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
  line-height: 35px !important;
}

.MuiGridListTileBar-subtitle {
  font-size: calc(0.8em + 0.6vw) !important;
  margin-top: 4px !important;
  white-space: normal !important;
}
.makeStyles-titleBar-120 {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.3) 100%
  ) !important;
}

/* ----------------------------- Restaurant cards -------------------------------------- */

.restaurant-list {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

.restaurant-images {
  height: 100px;
  width: 100px;
  margin: 2.5px 5px 2.5px;
  object-fit: cover;
  border-radius: 4px;
}

.restaurant-images:hover,
.restaurant-image:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.restaurant-image-modal {
  height: 550px;
  width: 550px;
  margin: 2.5px 5px 2.5px;
  object-fit: cover;
  border-radius: 4px;
}

.restaurant-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  box-shadow: 10px 15px 7px #c7c7c7;
}

.card h4 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-bottom: -5px;
}

.card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.card p {
  font-size: 15px;
}

/* ----------------------------- Search cards -------------------------------------- */

.search-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #4da635;
  font-size: 0.8em;
}

.search-card:hover {
  color: black;
}

.search-card:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.search-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.option-image {
  object-fit: cover;
  height: 500px;
  width: 500px;
  border-radius: 4px;
}

.option-image:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.collection-description {
  font-size: 0.8em;
  width: 500px;
  overflow-wrap: break-word;
  white-space: normal;
  word-wrap: break-word;
}

/* ----------------------------- Datepicker -------------------------------------- */

.react-datepicker__input-container input {
  width: 20px !important;
  background-color: white !important;
  color: white !important;
  cursor: pointer !important;
  border-radius: 4px !important;
}

/* ----------------------------- Progress bar -------------------------------------- */

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.filler {
  background: #4da635;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

/* ---------------------------------- Miscellaneous --------------------------------- */

.city-select-form select {
  height: 40px;
  width: 150px;
  font-size: 1em;
}

.location-box {
  height: 40px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 41% !important;
  float: left;
  box-sizing: border-box;
}

.search-restaurants {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}

.map-box {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
